<%- include('partials/header') -%>

    <div id="title">
        <h1>Morse Code Game</h1>
        <a class="btn btn-primary" href="/letters">Letters Only</a>
        <a class="btn btn-primary" href="/lettersAndNums">Letters With Numbers</a>
    </div>


<%- include('partials/footer') -%>